<!-- views/credential_template.ejs -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <style type="text/css">
      /* Your CSS styles */
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #efefef;
        padding: 20px 0;
      }
      .mytemplate {
        border: 1px solid #efefef;
        width: 800px;
        margin: 20px auto;
        border-radius: 8px;
        background: white;
        overflow: hidden;
      }
      .template-title {
        background: #092143;
        padding: 20px 0;
      }
      .template-title img {
        width: 70px;
      }
      .template-title h2 {
        font-family: arial;
        font-weight: bold;
        color: white;
        text-align: center;
      }
      p,
      li {
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="mytemplate">
      <div
        class="logo"
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          src="https://onlineparts.shop/storage/olp-logonew.png"
          style="margin: 10px auto; width: 110px; margin-top: 20px"
        />
      </div>
      <div class="template-title" style="width: 100%">
        <h2 style="color: #f4a51c">Credential Details For Onlineparts.shop</h2>
      </div>
      <div class="template-content" style="padding: 20px">
        <p>Dear <%= fullname %>,</p>
        <p>Greetings!</p>
        <p>
          Welcome to OnLine Parts<strong>(OLP) -</strong>&nbsp;Your stop
          destination for earthmoving spare parts in India. We&rsquo;re thrilled
          to see you here!
        </p>
        <!-- Remaining HTML content... -->
        <p><strong>Username:</strong> <%= username %></p>
        <p><strong>Password:</strong> <%= password %></p>
        <!-- Remaining HTML content... -->
      </div>
      <div class="footer" style="background: #092143; padding: 20px">
        <p style="color: white; text-align: center">
          &copy; Copyright and All Right Reserved By Onlineparts.shop
        </p>
      </div>
    </div>
  </body>
</html>
